# Lesson 3 Exercise 2: Focus on Primary Key
<img src="../../../images/cassandra_logo.png" width="250" height="250">

In [1]:
from src.utils.cassandra.generic_commands import CassandraCommands

#### Create a connection to the database

In [2]:
cassandra = CassandraCommands()
cassandra.connect('127.0.0.1')

CassandraCommands class initiated

In [4]:
cassandra.connect('127.0.0.1')

Connection setup with cassandra at 127.0.0.1

#### Create and connect to keyspace

In [5]:
cassandra.create_keyspace('data_engeneering_nano_degree')
cassandra.connect_keyspace('data_engeneering_nano_degree')

Keyspace named data_engeneering_nano_degree created

#### Imagine you need to create a new Music Library of albums 

Here is the information asked of the data:
##### 1. Give every album in the music library that was created by a given artist
`select * from music_library WHERE artist_name="The Beatles"`

### Here is the collection of data
<img src="../../../images/primary_key.png" width="650" height="350">

#### Practice by making the PRIMARY KEY only 1 Column (not 2 or more)

In [21]:
cassandra.create_table(table_name='music_library_p_key_1', schema='(year int, city varchar, artist_name varchar, album_name varchar, PRIMARY KEY (artist_name))')

Table named music_library_p_key_1 created

#### Let's insert the data into the table

In [22]:
cassandra.insert_rows(table_name='music_library_p_key_1', 
                      columns='(year, city, artist_name, album_name)',
                      rows=[
                           (1965, 'Oxford', 'The Beatles', 'Rubber Sould'),
                           (1970, 'Liverpool', 'The Beatles', 'Let it Be'),
                           (1966, 'Los Angeles', 'The Monkees', 'The Monkees'), 
                           (1970, 'San Diego', 'The Carpenters', 'Close To You'),
                           (1965, 'London', 'The Who', 'My Generation'),
                           ]
                     )

#### Validate the Data Model

In [23]:
cassandra.custom_query(query="select * from music_library_p_key_1 WHERE artist_name='The Beatles'")

[Row(artist_name='The Beatles', album_name='Let it Be', city='Liverpool', year=1970)]

#### Create a new table with a composite key this time

In [28]:
cassandra.create_table(table_name='music_library_p_key_2', schema='(year int, city varchar, artist_name varchar, album_name varchar, PRIMARY KEY (artist_name, year))')

Table named music_library_p_key_2 created

In [29]:
cassandra.insert_rows(table_name='music_library_p_key_2', 
                      columns='(year, city, artist_name, album_name)',
                      rows=[
                           (1965, 'Oxford', 'The Beatles', 'Rubber Sould'),
                           (1970, 'Liverpool', 'The Beatles', 'Let it Be'),
                           (1966, 'Los Angeles', 'The Monkees', 'The Monkees'), 
                           (1970, 'San Diego', 'The Carpenters', 'Close To You'),
                           (1965, 'London', 'The Who', 'My Generation'),
                           ]
                     )

#### Validate the Data Model

In [30]:
cassandra.custom_query(query="select * from music_library_p_key_2 WHERE artist_name='The Beatles'")

[Row(artist_name='The Beatles', year=1965, album_name='Rubber Sould', city='Oxford'),
 Row(artist_name='The Beatles', year=1970, album_name='Let it Be', city='Liverpool')]

#### Drop the tables

In [31]:
cassandra.drop_table(table_name='music_library_p_key_1')
cassandra.drop_table(table_name='music_library_p_key_2')

Dropped table music_library_p_key_1
Dropped table music_library_p_key_2

#### Close the session and cluster connection

In [32]:
cassandra.close_connection()

Closed session
Closed cluster connection