# Exercise 4: ETL the data from 3NF tables to Facts & Dimension Tables

In [1]:
# Load ipython-sql
%load_ext sql

# Setup database connection
# Define parameters
DB_ENDPOINT = 'localhost'
DB_NAME = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = 'postgres'
DB_PORT = '5432'

conn_string = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_ENDPOINT}:{DB_PORT}/{DB_NAME}"

# Connect
%sql $conn_string

### 3NF - Entity Relationship Diagram

<img src="../../../images/cloud_data_warehouse_pagila.png" width="50%"/>

### Star Schema - Entity Relationship Diagram

<img src="../../../images/cloud_data_warehouse_star_schema_pagila.png" width="50%"/>

## Transform from 3NF to star by denormalizing and combining tables

### Dimension tables: 
#### 1. Date

In [2]:
%%sql
INSERT INTO dimDate (date_key, date, year, quarter, month, day, week, is_weekend)
SELECT DISTINCT(TO_CHAR(payment_date :: DATE, 'yyyyMMDD')::integer) AS date_key,
       date(payment_date)                                           AS date,
       EXTRACT(year FROM payment_date)                              AS year,
       EXTRACT(quarter FROM payment_date)                           AS quarter,
       EXTRACT(month FROM payment_date)                             AS month,
       EXTRACT(day FROM payment_date)                               AS day,
       EXTRACT(week FROM payment_date)                              AS week,
       CASE WHEN EXTRACT(ISODOW FROM payment_date) IN (6, 7) THEN true ELSE false END AS is_weekend
FROM payment;

 * postgresql://postgres:***@localhost:5432/pagila
40 rows affected.

[]

#### 2. Customer

In [4]:
%%sql
INSERT INTO dimCustomer (customer_key, customer_id, first_name, last_name, email, address, 
                         address2, district, city, country, postal_code, phone, active, 
                         create_date, start_date, end_date)
SELECT 
       c.customer_id        AS customer_key,
       c.customer_id,
       c.first_name, 
       c.last_name,
       c.email,
       a.address,
       a.address2,
       a.district,
       ci.city,
       co.country,
       a.postal_code,
       a.phone,
       c.activebool,
       c.create_date,
       now()                AS start_date,
       now()                AS end_date
FROM customer c
JOIN address a  ON (c.address_id = a.address_id)
JOIN city ci    ON (a.city_id = ci.city_id)
JOIN country co ON (ci.country_id = co.country_id);

 * postgresql://postgres:***@localhost:5432/pagila
599 rows affected.

[]

#### 3. Movie

In [6]:
%%sql
INSERT INTO dimMovie (movie_key, film_id, title, description, release_year, language, original_language, 
                      rental_duration, length, rating, special_features)
SELECT 
       f.film_id AS movie_key,
       f.film_id,
       f.title,
       f.description,
       f.release_year,
       l.name AS original_language,
       orig_lang.name AS original_language,
       f.rental_duration,
       f.length,
       f.rating,
       f.special_features
FROM film f
JOIN language l              ON (f.language_id=l.language_id)
LEFT JOIN language orig_lang ON (f.original_language_id = orig_lang.language_id);

 * postgresql://postgres:***@localhost:5432/pagila
1000 rows affected.

[]

#### 4. Store

In [9]:
%%sql
INSERT INTO dimStore (store_key, store_id, address, address2, district, city, country, 
                      postal_code, manager_first_name, manager_last_name, start_date, end_date)

SELECT
    sto.store_id    AS store_key,
    sto.store_id,
    a.address,
    a.address2,
    a.district,
    ci.city,
    co.country,
    a.postal_code,
    sta.first_name  AS manager_first_name,
    sta.last_name   AS manager_last_name,
    now()           AS start_date,
    now()           AS end_date
FROM store sto
JOIN address a  ON sto.address_id = a.address_id
JOIN city ci    ON a.city_id = ci.city_id
JOIN country co ON ci.country_id = co.country_id
JOIN staff sta   ON sto.manager_staff_id = sta.staff_id

 * postgresql://postgres:***@localhost:5432/pagila
2 rows affected.

[]

### Fact table:

In [16]:
%%sql
INSERT INTO factsales (sales_key, date_key, customer_key, movie_key, store_key, sales_amount)

SELECT 
    p.payment_id AS sales_key,
    TO_CHAR(p.payment_date :: DATE, 'yyyyMMDD')::integer AS date_key,
    p.customer_id AS customer_key,
    f.film_id AS movie_key,
    s.store_id AS store_key,
    p.amount AS sales_amount
FROM payment p
JOIN rental r    ON p.rental_id = r.rental_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f      ON i.film_id = f.film_id
JOIN customer c  ON r.customer_id = c.customer_id
JOIN store s     ON c.store_id = s.store_id

 * postgresql://postgres:***@localhost:5432/pagila
16049 rows affected.

[]

In [19]:
%sql SELECT * FROM factsales LIMIT 10;

 * postgresql://postgres:***@localhost:5432/pagila
10 rows affected.

[(16050, 20200124, 269, 870, 1, Decimal('1.99')),
 (16051, 20200125, 269, 651, 1, Decimal('0.99')),
 (16052, 20200128, 269, 818, 1, Decimal('6.99')),
 (16053, 20200129, 269, 249, 1, Decimal('0.99')),
 (16054, 20200129, 269, 159, 1, Decimal('4.99')),
 (16055, 20200131, 269, 205, 1, Decimal('2.99')),
 (16056, 20200126, 270, 851, 1, Decimal('1.99')),
 (16057, 20200131, 270, 559, 1, Decimal('4.99')),
 (16058, 20200131, 271, 237, 1, Decimal('8.99')),
 (16059, 20200125, 272, 367, 1, Decimal('0.99'))]