# Exercise 7: OLAP Cubes - Roll Up and Drill Down

### Connect to the local database where Pagila is loaded

In [3]:
# Load ipython-sql
%load_ext sql

# Setup database connection
# Define parameters
DB_ENDPOINT = 'localhost'
DB_NAME = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = 'postgres'
DB_PORT = '5432'

conn_string = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_ENDPOINT}:{DB_PORT}/{DB_NAME}"

# Connect
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Star Schema

<img src="../../../images/cloud_data_warehouse_star_schema_pagila.png" width="50%"/>

## Roll-up
- Stepping up the level of aggregation to a large grouping
- e.g.`city` is summed as `country`

TODO: Write a query that calculates revenue (sales_amount) by day, rating, and country. Sort the data by revenue in descending order, and limit the data to the top 20 results. The first few rows of your output should match the table below.

In [4]:
%%time
%%sql
SELECT
    d.day,
    m.rating,
    c.country,
    SUM(f.sales_amount) AS revenue
FROM factsales f
JOIN dimdate d
USING (date_key)
JOIN dimmovie m
USING (movie_key) 
JOIN dimcustomer c
USING (customer_key)
GROUP BY 1,2,3
ORDER BY revenue DESC
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/pagila
5 rows affected.
Wall time: 67 ms

[(30, 'G', 'China', Decimal('161.68')),
 (30, 'NC-17', 'India', Decimal('150.65')),
 (30, 'R', 'China', Decimal('145.66')),
 (30, 'R', 'India', Decimal('137.70')),
 (30, 'PG', 'India', Decimal('136.70'))]

## Drill-down
- Breaking up one of the dimensions to a lower level.
- e.g.`country` is broken up into  `districts`

In [6]:
%%time
%%sql
SELECT
    d.day,
    m.rating,
    c.district,
    SUM(f.sales_amount) AS revenue
FROM factsales f
JOIN dimdate d
USING (date_key)
JOIN dimmovie m
USING (movie_key) 
JOIN dimcustomer c
USING (customer_key)
GROUP BY 1,2,3
ORDER BY revenue DESC
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/pagila
5 rows affected.
Wall time: 54.4 ms

[(30, 'PG-13', 'Southern Tagalog', Decimal('53.88')),
 (30, 'G', 'Shandong', Decimal('36.93')),
 (30, 'NC-17', 'West Bengali', Decimal('36.92')),
 (17, 'PG-13', 'Shandong', Decimal('34.95')),
 (1, 'PG', 'California', Decimal('32.94'))]