# Exercise 8: OLAP Cubes - Grouping Sets

### Connect to the local database where Pagila is loaded

In [1]:
# Load ipython-sql
%load_ext sql

# Setup database connection
# Define parameters
DB_ENDPOINT = 'localhost'
DB_NAME = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = 'postgres'
DB_PORT = '5432'

conn_string = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_ENDPOINT}:{DB_PORT}/{DB_NAME}"

# Connect
%sql $conn_string

### Star Schema

<img src="../../../images/cloud_data_warehouse_star_schema_pagila.png" width="50%"/>

## Grouping Sets

### Total Revenue

In [2]:
%%sql
SELECT SUM(sales_amount) AS total_revenue
FROM factsales

 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.

[(Decimal('67416.51'),)]

### Revenue by Country

In [18]:
%%sql
SELECT 
    country,
    SUM(sales_amount) AS total_revenue
FROM factsales
JOIN dimstore
USING (store_key)
GROUP BY 1
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/pagila
2 rows affected.

[('Canada', Decimal('37007.48')), ('Australia', Decimal('30409.03'))]

### Revenue by Month

In [19]:
%%sql
SELECT 
    month,
    SUM(sales_amount) AS total_revenue
FROM factsales
JOIN dimdate
USING (date_key)
GROUP BY 1
ORDER BY month 
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/pagila
5 rows affected.

[(1, Decimal('4824.43')),
 (2, Decimal('9631.88')),
 (3, Decimal('23886.56')),
 (4, Decimal('28559.46')),
 (5, Decimal('514.18'))]

### Revenue by Month & Country

In [21]:
%%sql
SELECT 
    month,
    country,
    SUM(sales_amount) AS total_revenue
FROM factsales
JOIN dimdate
USING (date_key)
JOIN dimstore
USING (store_key)
GROUP BY 1,2
ORDER BY month, country
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/pagila
5 rows affected.

[(1, 'Australia', Decimal('2128.82')),
 (1, 'Canada', Decimal('2695.61')),
 (2, 'Australia', Decimal('4481.32')),
 (2, 'Canada', Decimal('5150.56')),
 (3, 'Australia', Decimal('10867.25'))]

### Revenue Total, by Month, by Country, by Month & Country All in one shot

In [22]:
%%sql
SELECT 
    month,
    country,
    SUM(sales_amount) AS total_revenue
FROM factsales
JOIN dimdate
USING (date_key)
JOIN dimstore
USING (store_key)
GROUP BY grouping sets ((), month, country, (month, country))
ORDER BY month, country
LIMIT 25

 * postgresql://postgres:***@localhost:5432/pagila
18 rows affected.

[(1, 'Australia', Decimal('2128.82')),
 (1, 'Canada', Decimal('2695.61')),
 (1, None, Decimal('4824.43')),
 (2, 'Australia', Decimal('4481.32')),
 (2, 'Canada', Decimal('5150.56')),
 (2, None, Decimal('9631.88')),
 (3, 'Australia', Decimal('10867.25')),
 (3, 'Canada', Decimal('13019.31')),
 (3, None, Decimal('23886.56')),
 (4, 'Australia', Decimal('12700.48')),
 (4, 'Canada', Decimal('15858.98')),
 (4, None, Decimal('28559.46')),
 (5, 'Australia', Decimal('231.16')),
 (5, 'Canada', Decimal('283.02')),
 (5, None, Decimal('514.18')),
 (None, 'Australia', Decimal('30409.03')),
 (None, 'Canada', Decimal('37007.48')),
 (None, None, Decimal('67416.51'))]