# Lesson 1 Exercise 2: Creating a Table with Apache Cassandra
<img src="../../images/cassandra_logo.png" width="250" height="250">

#### Import Apache Cassandra python package

In [7]:
import cassandra

#### Create a connection to the database

In [8]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1']) 
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create a keyspace to do the work in

In [9]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS songs 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Connect to the Keyspace

In [10]:
try:
    session.set_keyspace('songs')
except Exception as e:
    print(e)

#### Create a Song Library that contains a list of songs, including the song name, artist name, year, album it was from, and if it was a single. 

`song_title
artist_name
year
album_name
single`

#### You need to create a table to be able to run the following query: 
`select * from songs WHERE year=1970 AND artist_name="The Beatles"`

In [11]:
query = "CREATE TABLE IF NOT EXISTS songs "
query = query + "(song_title text, artist_name text, year int, album_name text, single text, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

#### Insert the following two rows in your table
`First Row: "1970", "Let It Be", "The Beatles", "Across The Universe", "False", `

`Second Row: "1965", "Think For Yourself", "The Beatles", "Rubber Soul", "False"`

In [12]:
query = "INSERT INTO songs (year, song_title, artist_name, album_name, single)" 
query = query + " VALUES (%s, %s, %s, %s, %s)"

try:
    session.execute(query, (1970, "Let It Be", "The Beatles", "Across The Universe", "False"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "Think For Yourself", "The Beatles", "Rubber Soul", "False"))
except Exception as e:
    print(e)

#### Validate your data was inserted into the table

In [14]:
query = 'SELECT * FROM songs'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, '-', row.song_title, '-', row.album_name, '-', row.artist_name)

1965 - Think For Yourself - Rubber Soul - The Beatles
1970 - Let It Be - Across The Universe - The Beatles

#### Validate the Data Model with the original query

In [17]:
query = """
        SELECT * 
        FROM songs 
        WHERE 
            YEAR=1970 
            AND artist_name='The Beatles'
        """
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, '-', row.song_title, '-', row.album_name, '-', row.artist_name)

1970 - Let It Be - Across The Universe - The Beatles

#### And Finally close the session and cluster connection

In [18]:
session.shutdown()
cluster.shutdown()